
<bean id="demo", class="demo1">
	<property name="age", value="100"/>
	<property name="time", value="20909"/>
	<property name="man", value="1.6"/>
	<property name="woman", value="9.89"/>
	
	<pre-processor method_name="print_age"/>
	<pre-processor method_name="print_time"/>
	<pre-processor method_name="print_man"/>
	<pre-processor method_name="print_woman"/>
</bean>





